<header class="header">
  <div class="container-fluid top--part">
    <div class="container">
      <div class="row">
        <ul class="wrapper--1">
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              HOME
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              ABOUT US
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              PRICES
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              DISCOUNTS
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              GUARANTEES
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              FAQ
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              BEWARE
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              CONTACT US
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              BLOG
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid main--part">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <a href="#" class="main--header_logo"></a>
          <h1 class="header--1_rectangle header--1_font">
            Things go better with us
          </h1>
          <h3 class="header--2_font">
            WHAT WE OFFER YOU :
          </h3>
          <ul>
            <li>
              <p>A dedicated writer who is qualified in your field</p>
            </li>
            <li>
              <p>
                Your subject matter analyzed, researched, referenced and written
                as you instruct
              </p>
            </li>
            <li>
              <p>
                Papers tested for plagiarism using systems such as Copyscape
                plus a validation report
              </p>
            </li>
            <li>
              <p>A flawless end product in terms of style and grammar</p>
            </li>
          </ul>
          <div class="main-header-btns">
            <a href="#" class="main-btns">Essays & Research Papers</a>
            <a href="#" class="main-btns">Dissertations & Thesess</a>
            <a href="#" class="main-btns">Resumes & CVs</a>
            <a href="#" class="main-btns">Editing & Proofreading</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
